@import "../styles/variables.scss";

.masonGrid {
  column-count: 4;
  column-gap: 10px;
}

.artTile {
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  width: 25%;
  height: fit-content;
  transition: background-color .2s;
  cursor: pointer;
  margin-bottom: 10px;

  img {
    width: 100%;
  }

  &:hover {
    background-color: $dark-grey;
  }
}